.vscode/**
.vscode-test/**
src/**
test/**
**/*.ts
**/*.map
.gitignore
.eslintrc.json
tsconfig.json
*.vsix
node_modules/@types/**
node_modules/**/*.md
node_modules/**/*.txt
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/.github/**
node_modules/**/docs/**
node_modules/**/example/**
node_modules/**/examples/**
node_modules/**/*.ts
!node_modules/**/*.d.ts
